.App{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.form .form-content{
    width: 20%;
}

.tableContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}